* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #191A19;
}
section{

    width: 100%;
    user-select: none;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.haha{
    width: 500px;
    height: 300px;
margin: 4.5rem;

}
@media(max-width: 433px){
        .haha{
            margin: 2.5rem;
    width: 80vw;
    height: 200px;


}
    }

.haha img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(245, 241, 242, 0.21);
    backdrop-filter: blur(30px);
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding: 0 30px;
    z-index: 99;
}

h1{
    border: 3px solid black;
    font-family: Roboto,sans-serif;
    background: darkred;
    font-size: 31px;
    color: white;
    padding: 3px 15px;
}